button{
       padding: 10px 24px;
            font-size: 1rem;
            border: none;
            border-radius: 6px;
            background-color: lightgray;
            cursor: pointer;
            transition: background-color 0.2s;

}
button:hover
{
     background-color: blue;
            color: white;

}
button:active{
    background-color:blueviolet;
            color: white;
}